<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div id="app">
    <p><%= name %>, {{ message }}!</p>
    <app-comp></app-comp>
</div>
<br /><br />
<script src="/dist/hello.js"></script>
</body>
</html>
