$themeColor-Light: #f2f2f2;
$themeColor-Dark:#c2c2c2;
$theme-font: verdana, sans-serif;

body {
  font: $theme-font;
  background-color: $themeColor-Light;
  h1, h2 {
    color: $themeColor-Dark
  }
}

#app {
  background-color: $themeColor-Dark;
}